@model Lab02_WebsiteBanHang.Models.Category

<div class="container mt-4">
    <div class="card p-4 text-center">
        <h2>Category Details</h2>
        <hr>
        <h4><strong>Name:</strong> @Model.Name</h4>
    </div>
    <a asp-action="Index" class="btn btn-primary mt-3">Back to List</a>
</div>
